div.jell{
width: 100px;
height:100px;
position:fixed;
left: calc(50% - 43px);
top: calc(50% - 50px);
}

.wrapper {
	text-align: center;
}

.button {
	position: absolute;
}
body {
	background-color: #28287a;
}